/*----------GENERAL START----------*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, input, form, label, textarea, img {margin: 0; padding: 0;}

li {list-style: none;}

a {
    outline: none;
    color: #e88030;
}

a:hover {text-decoration: none;}

.clear {clear: both;}

.nomargin {margin: 0 !important;}
.nopadding {padding: 0 !important;}
.noborder {border: 0 !important;}
.nobg {background: none !important;}

.align_left {text-align: left !important;}
.align_right {text-align: right !important;}
.align_center {text-align: center !important;}

.float_left {float: left !important;}
.float_right {float: right !important;}

.flex {
    display: flex;
}

.details_link {
    margin-right: 10px;
}

select {
    font-size: 13px;
    color: #686767;
}

input:focus {
    outline-color: #c06d32;
}
.submit input, input.submit {cursor: pointer;}

body {
    font-family: Arial; font-size: 13px;
    color: #5a3512;
    background: #FCFFE6;
}

#content_wrapper {
    /*padding-top: 8px;*/
}

#content, #header, .footer-content, .main-menu-wrapper {
    width: 1200px;
    margin: 0 auto;
}

#content {
    padding: 0 11px;
}

h2 {
    font-size: 18px;  font-weight: bold;
    color: #ba642d;
}

h3, h4 {color: #5a3512;}

h3 {font-size: 14px;  font-weight: bold;}

h4 {font-size: 12px;  font-weight: normal;}

p {line-height: 18px;}

.top {
    height: 47px;
    line-height: 47px;
    padding-left: 15px;
    background: #c06d32;
    display: flex;
    align-items: center;
}

.top h2 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.bottom {
    display: none;
}
/*----------GENERAL END----------*/


/*----------HEADER START----------*/
#header {
    background-color: #fbe9c9;
    padding-top: 8px;
    position: relative;
    height: 503px;
}

#slider_products {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    width: 250px;
}

#slider_products li {
    border-bottom: 1px solid #363636;
    height: 100%;
    display: flex;
    align-items: center;
}

#slider_products li a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(254, 254, 254, 0.6);
    text-transform: uppercase;
    line-height: 1.54;
    padding: 0 25px;
}

#slider_products li a:hover {
    color: #fff;
}

.header_h1 {
    background-color: #852c09;
    text-align: center;
    color: white;
    font-size: 11px;  font-weight: normal;
    height: 25px; line-height: 25px;
    overflow: hidden;
}


.headerImgPager {
    margin: 0 auto;
    position: relative;
    height: 496px;
}

.headerImgPager .container {
    left: 0;  top: 0;
    position: absolute;
}

.headerImgPager img, .headerImgPager p {display: none;}
.headerImgPager .first {display: block;}



.slider_text {
    background: rgba(255, 255, 255, .8);
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 316px);
    padding: 18px 33px 12px 33px;
    display: flex;
    align-items: center;
}

.headerImgPager .slider_text h2 {
    font-size: 25px;
    font-weight: bold;
    color: #272727;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5px;
}

.headerImgPager .slider_text p {
    color: #c06d32;
    font-size: 18px;
    line-height: 1.33;
}

.slider_text .details-btn {
    font-size: 16px;
    font-weight: bold;
    color: #272727;
    text-transform: uppercase;
    border: solid 2px #000000;
    min-width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.slider_text .details-btn:hover {
    background: #272727;
    color: #fff;
}

.headerImgPager .sliderControl {
    overflow: hidden;
    position: absolute;
    left: 15px;  bottom: 70px;
    text-align: center;
    width: 250px;  height: 17px;
    display: none;
}
.headerImgPager .sliderControl a {
    background: url(images/sliderControl.png) no-repeat;
    display: block;
    float: left;
    margin-right: 10px;
    width: 16px;  height: 16px;
}
.headerImgPager .sliderControl .active {background-position: 0 -16px;}


.share_box {
    background: url(images/share_box.jpg) no-repeat;
    left: -37px;  top: 55px;
    padding: 7px 0 0 5px;
    position: absolute;
    width: 37px;  height: 64px;
}

.share_box a {
    float: left;
    margin-bottom: 5px;
    color: #e5e0cc;
    text-decoration: none;
    line-height: 26px;
    font-weight: bold;
}

.share_box a:hover {text-decoration: underline;}

.share_box .facebook, .share_box .csillag {
    display: block;
    width: 25px;  height: 26px;

}

.share_box .facebook {background: url(images/facebook.png) no-repeat;}
.share_box .csillag {
    background: url(images/csillag.png) no-repeat;
    margin-bottom: 5px;
}


#header .logo {
    position: absolute;
    right: 45px;  bottom: 50px;
    z-index: 100;
}


.search_box {
    float: right;
    padding-right: 25px;  padding-top: 5px;
}

.search_box div {
    float: left;
    width: 155px;
    margin-right: 10px; margin-top: 4px;
}

.search_box input {
    width: 145px;  height: 20px;  line-height: 20px;
    padding: 0 5px;
    background-color: white;
    border: 1px solid #a0a0a0;
}

.search_box .submit {
    width: 76px;  height: 29px;
    margin: 0;
}

.search_box .submit input {
    background: url(images/search_box_submit.png) no-repeat;
    width: 76px;  height: 29px; line-height: 29px;
    padding: 0 0 3px 0;
    color: white;
    border: 0;
}

.search_box .submit input:hover {background: url(images/search_box_submit_hover.png) no-repeat;}

#header .info {
    float: right;
    padding-top: 10px;
    width: 265px;
}

#header .info h3, #header .info a, #header .info p {
    color: white;
    font-size: 14px;
    line-height: 24px;
}

#header .info h3 {font-size: 18px;  font-weight: normal;}
/*----------HEADER END----------*/


/*----------MAIN START----------*/


.content_bottom {
    height: 150px;
    margin: 0 auto;
}


#main_menu {
    height: 53px;
    position: relative;
    z-index: 10;
    background: #c06d32;
}

#main_menu .logo {
    width: 147px;
    height: 96px;
    background-color: #ffe9ac;
    border: solid 1px #8c3500;
}


.main-menu-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu-items {
    display: flex;
    width: calc(100% - 147px);
}

.main-menu-items li {
    width: 100%;
    white-space: nowrap;
}

#main_menu .main-menu-items {
    height: 55px;
}

#main_menu li {
    float: left;
    border-right: 1px solid #c89a70;
}

#main_menu .active, #main_menu a:hover {
    background: #303030;
    color: white;
}

#main_menu li a {
    color: #262626;
    font-size: 14px;
    font-family: Arial;
    color: #fff;
    text-transform: uppercase;
    /*width: 110px;*/  line-height: 57px;  height: 53px;
    text-decoration: none;
    /*padding: 0 12px 0 11px;*/
    display: block;
    text-align: center;
    padding: 0 33px;
}

#main_menu .highlighted-menu {
    background: #fff;
}

#main_menu .highlighted-menu a {
    color: #252528;
}

#main_menu .highlighted-menu a:hover {
    color: #fff;
}

/*#main_menu2 {width: 150px !important;}*/
#main_menu3 {width: 155px !important;}
#main_menu5 {width: 122px !important;}
#main_menu6 {width: 150px !important;}

#main_menu .cart_menu {
    background: url(images/cart_menu.gif) no-repeat;
    color: #e5e0cc;
    font-size: 14px; font-family: Arial;  font-weight: normal;
    width: 120px; height: 55px;  line-height: 59px;
    padding: 0 0 0 70px;
    text-align: left;
}

.submenu {
    background: rgba(48, 48, 48, .9);
    color: white;
    display: none;
    padding: 10px 20px;
    position: absolute;
    width: 230px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 10;
}
#main_menu .submenu li {
    border: none;
}
#main_menu .submenu li a {
    color: rgba(254, 254, 254, 0.6);
    font-size: 13px;
    line-height: 1.54;
    text-transform: none;
    padding: 10px 0;
    margin: 0;
    height: 100%;
    text-align: left;
}
#main_menu .submenu li a:hover {
    background: none;
    color: #fff;
}


#main #left_column, #main #right_column {float: left;}

#main #left_column {
    width: 20%;
    position: relative;
}

#main #right_column {
    width: 78%;
    padding-left: 20px;
}


.boxtitle, .left_menu a {
    font-size: 19px;
    padding-left: 20px;
}


.left_menu {
    width: 231px;  /*height: 143px;*/
    background: #c06d32;
}

.left_menu .toggle_item,
.left_menu .left_menu_item {
    display: flex;
    justify-content: space-between;
}

.toggle_item_open {
    background: #303030;
}

.toggle_content {
    border-top: 1px solid #c89a70;
}

.left_menu span {
    display: block;
}

.left_menu li {
    border-bottom: 1px solid #c89a70;
}


.left_menu a {
    color: #432507;
    display: block;
    line-height: 1.43;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
    color: #edd9d0;
    padding: 17px 20px 17px 20px;
}
.left_menu a:hover {
    color: white;
    cursor: pointer;
}


.login_box {
    display: flex;
    padding: 15px 15px;
    background: #303030;
}

.login_box h2, .detailed_search_box h2 {
    color: white;
    margin-bottom: 35px;
}



.detailed_search_box form {
    padding-left: 13px;
}

.login_box div, .detailed_search_box div {
    height: 40px;
    margin-bottom: 10px;
}

.inputFocus {
    height: 20px;
    position: relative;
}
.inputFocus span {
    color: #686767;
    cursor: text;
    display: block;
    left: 5px;  top: 0;
    position: absolute;
    width: 177px;  height: 20px;
}

.detailed_search_box input {
    padding-left: 25px;
    height: 40px;
    width: 100%;
}

.login_box input {
    height: 40px;
}

.login_box .inputFocus input {
    padding-left: 25px;
}

.login_box form {
    width: 100%;
}

.login_box .submit, .detailed_search_box .submit {height: 37px;}

.login_box a, .login_box .submit input {float: left;}

.login_box a {
    color: #fff;
    font-size: 12px;
    text-transform: none;
    padding: 0;
    margin-bottom: 20px;
}

.login_box .submit input, .detailed_search_box .submit input {
    width: 100%;
    padding-left: 0 !important;
}

.login_box .submit input {
    border: 1px solid #fff;
    color: #fff;
    background: #303030;
}

.login_box .submit input:hover {
    background: #fff;
    color: #303030;
}



.detailed_search_box {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #303030;
}

.detailed_search_box input {
    margin-bottom: 40px;
}

.detailed_search_box form {
    padding-left: 10px;
    padding-right: 10px;
}

.detailed_search_box form div {
    display: flex;
}

.detailed_search_box .input-group{
    display: flex;
    width: 100%;
}

.detailed_search_box .input-group input {
    width: 50%;
}


.detailed_search_box h2 {
    margin-bottom: 30px;
}

.detailed_search_box select, .detailed_search_box input {
    border: 1px solid #6d4018;
}

.detailed_search_box select {
    padding: 0 25px;
    height: 40px;
    width: 100%;
}

.detailed_search_box .submit input {
    border: 1px solid #fff;
    color: #fff;
    background: #303030;
}

.detailed_search_box .submit input:hover {
    background: #fff;
    color: #303030;
}

.category_box {
    /*margin-bottom: 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #303030;
}

.category_box ul {

}

.category_box ul ul {
    display: none;
    margin: 0;
}

.category_box ul a {
    padding: 5px 15px;
    text-transform: none;
    color: #edd9d0;
}

.category_box ul a:hover {
    color: #fff;
    text-decoration: none;
}

.category_box ul ul a {
    background-color: #2b2b2b;
    padding-left: 30px;
}

.category_box ul ul ul a {
    background-color: #1c1c1c;
    padding-left: 45px;
}

.category_box ul ul ul ul a {
    background-color: #0e0e0e;
    padding-left: 60px;
}

.category_box li {
    /*background: url(images/celkereszt.png) no-repeat 0 4px;*/
    /*padding-left: 10px;  padding-right: 10px;*/
    line-height: 18px;
    border: none;
    /*margin-bottom: 10px;*/
}

.category_box a {
    display: block;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.category_box a:hover {text-decoration: underline;}

.category_box .bottom {
    width: 231px; height: 11px;
    background: url(images/category_box_bottom.gif) no-repeat;
}


.newsletter_link {
    width: 216px; height: 35px;  line-height: 35px;
    margin-left: 8px; margin-bottom: 10px;
    display: block;
    background: url(images/newsletter_link.gif) no-repeat;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: center; text-decoration: none;
}
.newsletter_link:hover {color: #432507;}

.contact_box {
    background: #303030;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

.contact_box hr {
    display: none;
}

.contact_box h2 {
    color: white;
    font-size: 19px;
    font-weight: bold;
    line-height: 29px;
    padding: 0;
    margin-bottom: 20px;
    display: none;
}

.contact_box .first {
    color: #b9632d;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact_box small {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.contact_box strong {
    color: #b9632d;
}

.contact_box p, .contact_box h3, .contact_box h4 {
    color: #fff;
}

.contact_box a {
    color: #fff;
    text-transform: none;
    padding: 0;
    font-size: 12px;
}

.contact_box .open {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}


.intro {
    overflow: hidden;
    padding: 40px 20px;
    background: #fff;
    margin-bottom: 60px;
    border: solid 1px #bab293;
}


.new_stuff_box {
    margin-bottom: 15px;
    border: solid 1px #bab293;
}

.new_stuff_box .title {
    background: #c06d32;
    height: 47px;  line-height: 30px;
    font-size: 16px;
    color: white;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.new_stuff_box .container, .news_box .container {
    background: #fff;
}

.new_stuff_box .item {
    margin: 0 5px;
    border-bottom: 1px solid #d6b091;
    margin-bottom: 10px;
    display: flex;
}

.new_stuff_box .product {
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_stuff_box .product-image-box {
    width: 100%;
    height: 280px;
}

.new_stuff_box .product-image-box img {
    width: 100%;
    height: auto;
}

.new_stuff_box .text_container {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    justify-content: space-between;
}

.new_stuff_box img, .new_stuff_box .text_container {float: left;}


.new_stuff_box .text_container h2, .new_stuff_box .text_container p {color: #5a3512;}

.new_stuff_box .text_container p {
    font-size: 12px;
    line-height: 16px;
}

.new_stuff_box .text_container h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.new_stuff_box .text_container h2 a {
    color: #ba642d;
    text-decoration: none;
}

.new_stuff_box .text_container h2 a:hover {text-decoration: underline;}

.new_stuff_box .price {
    font-size: 16px !important;  font-weight: bold;
    color: #c06d32 !important;
    float: left;
    font-family: Arial !important;
}

.new_stuff_box p {
    margin-bottom: 20px;
}

.new_stuff_box .product-buttons{
    display: flex;
}

.new_stuff_box .product-buttons a:first-child {
    margin-right: 10px;
}

.new_stuff_box .details_link,
.news_box .more,
.news_list_page .more {
    color: #c06d32;
    border: 1px solid #c06d32;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.new_stuff_box .details_link {
    max-width: 84px;
}

.news_list_page .more{
    max-width: 140px;
}

.news_box .more {
    max-width: 110px;
}

.new_stuff_box .details_link:hover,
.news_box .more:hover,
.news_list_page .more:hover {
    background: #c06d32;
    color: #fff;
}

.new_stuff_box .cart_link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    background: #383838;
    border: 1px solid #383838;
    color: #fff;
    min-width: 84px;
    display: flex;
    justify-content: center;
}

.new_stuff_box .cart_link:hover {
    background: #505050;
    border-color: #505050;
}

.news_box {
    border: solid 1px #bab293;
    background: #fff;
}

.news_box .title {
    height: 42px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: #c06d32;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 20px;
}

.news_box .title, .news_box .title a {
    color: white;
    text-decoration: none;
}

.news_box .title a:hover {text-decoration: underline;}

.news_box .item, .news_list_page .item {
    padding: 0 20px;
    margin-bottom: 15px;
}

.news_box .item h2, .news_box .item h2 a, .news_list_page .item h2, .news_list_page .item h2 a {color: #ba642d;}

.news_box .item h2, .news_list_page .item h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.news_box .item h2 a, .news_list_page .item h2 a {text-decoration: none;}

.news_box .item h2 a:hover, .news_list_page .item h2 a:hover {text-decoration: underline;}

.news_box .item .date, .news_list_page .item .date {
    font-weight: bold;
    margin-bottom: 10px;
}

.news_box .item img, .news_box .item .text_container, .news_list_page .item img, .news_list_page .item .text_container, .kapcsolodo_termek img, .kapcsolodo_termek .text_container {float: left;}

.news_box .item .text_container, .news_list_page .item .text_container  {width: 515px;}

.news_box .item .text_container p, .news_list_page .item .text_container p {margin-bottom: 10px;}

.news_list_page .more {
    display: flex;
}

.news_box .more {

}



/*----------MAIN END----------*/


/*----------FOOTER START----------*/
#footer {
    height: 50px;
    padding: 10px 20px 0 20px;
    font-size: 13px;
    font-weight: bold;
    background: #e6e4ce;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#footer p {
    color: #5a3512;
}

#footer a {
    color: #5a3512;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

#footer .links {
    color: #5a3512;
    float: left;
    line-height: 18px;
    text-align: center;
}
/*----------FOOTER END----------*/


/*----------STATIC PAGE START----------*/


.static_page {
    background: #fff;
    margin-bottom: 40px;
    border: solid 1px #bab293;
}

.static_page .bottom {
    display: none;
}


.vodor {
    position: absolute;
    right: 5px;  bottom: 5px;
    width: 72px;  height: 86px;
}

.ful {
    position: absolute;
    right: 0;  bottom: 0;
    width: 12px;  height: 40px;
}


.static_page .repeat, .news_view_page .repeat, .registration_page .form, .product_list_page .container, .product_view_page .container, .cart_page .container, .detailed_search_page .repeat {
    padding: 20px 0 20px 15px;
}

.static_page .repeat {padding-right: 15px;}

.static_page ul li, .static_page ol li, .news_view_page ul li, .news_view_page ol li {line-height: 18px;}



.static_page ol, .news_view_page ol {padding-left: 30px;}

.static_page ol li, .news_view_page ol li {list-style: decimal;}

.static_page .bottom, .news_view_page .bottom, .product_list_page .bottom, .product_view_page .bottom{
    background: url(images/static_page_bottom.png) no-repeat;
    height: 31px;  line-height: 31px;
}

.static_page .bottom, .product_list_page .bottom, .product_view_page .bottom {
    background: url(images/staticPageBottom.png) no-repeat;
    height: 25px;  line-height: 25px;
}

.static_page .bottom a, .news_view_page .bottom a, .product_view_page .bottom a {
    text-decoration: underline;
    color: #393939;
    font-weight: bold;
}

.static_page .bottom a:hover, .news_view_page .bottom a:hover, .product_view_page .bottom a:hover {text-decoration: none;}


.static_page .fck ul {
    list-style: none;
}

.static_page .fck h3,
.static_page .fck h4,
.static_page .fck h5 {
    color: #5a3512;
}

.static_page .fck ul li {
    color: #5a3512;
}

.static_page .fck p {
    color: #5a3512;
}

/*----------STATIC PAGE END----------*/


/*----------NEWS LIST PAGE START----------*/
.news_list_page {
    border: solid 1px #bab293;
    margin-bottom: 50px;
    background: #fff;
}

.news_list_page .repeat {padding: 15px 0;}

.news_list_page .more .repeat {padding: 0;}

.news_list_page .item {
    padding: 0 15px 15px 15px;
}

.news_list_page .item h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.news_list_page .item p {
    margin-bottom: 15px;
}

.news_list_page .last {
    background: none;
    margin: 0;
}

.news_list_page .bottom p, .product_list_page .bottom p {
    float: left;
    color: white;
    padding-left: 15px;
    line-height: 25px;
    width: 250px;
}

.pager {
    height: 25px; line-height: 25px;
    float: left;
}

.pager div, .pager p {float: left;}

.pager .prev_page {margin-right: 5px;}
.pager .next_page {margin-left: 5px;}
.pager .prev_page a, .pager .next_page a {color: white !important;}

.pager a:hover {text-decoration: none;}

.pager p {
    width: auto !important;
    color: white;
    margin-right: 15px;
}

.pager .active {
    text-decoration: none;
    font-weight: bold;
}

.pager a {
    color: white !important;
    font-size: 12px;
}
/*----------NEWS LIST PAGE END----------*/


/*----------NEWS VIEW PAGE START----------*/
.news_view_page .repeat {
    position: relative;
    padding: 20px 15px;
}

.news_view_page .links {
    position: absolute;
    height: 12px;
    right: 20px; top: 15px;
}

.news_view_page .links a {
    display: block;
    float: left;
    margin-right: 5px;
    width: 15px;  height: 12px;
}

.news_view_page .links .print {background: url(images/print.gif) no-repeat;}

.news_view_page .links .email {
    background: url(images/email.gif) no-repeat;
    height: 10px;
    margin-top: 2px;
}

.news_view_page .first {
    float: left;
    margin-right: 15px;
}

.news_view_page .date {
    font-size: 16px;  font-weight: bold;
    color: #3a5100;
    margin-bottom: 10px;
}
/*----------NEWS VIEW PAGE END----------*/


/*----------COMMENTS START----------*/
.comments, .comment_now {
    margin-top: 10px;
    padding-top: 10px;
    background: url(images/news_list_divide.gif) no-repeat top center;
}

.comments h2, .comment_now h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.comments .item {margin-bottom: 10px;}

.comments .ful {
    position: absolute;
    left: -18px;  top: 0;
    background: url(images/ful.gif) no-repeat;
    width: 18px;  height: 31px;
}

.comments img, .comments .text_container {float: left;}

.comments img {
    border: 1px solid #bab293 !important;
    margin-right: 30px;
}

.comments .text_container {
    width: 520px;
    position: relative;
    padding: 15px;
    border: 1px solid #bab293;
    background-color: #e9deb8;
}

.comments .top {
    background: none;
    margin-bottom: 10px;
}

.comments .name, .comments .date {font-size: 14px;  font-weight: bold;}

.comments .name {
    float: left;
    width: 360px;
}

.comments .date {
    float: right;
    color: #51300f;
    margin: 0;
}

.comments p {color: #3a5100;}
/*----------COMMENTS END----------*/


/*----------COMMENT NOW START----------*/

.form .check img {border: 0;}



.form input, .form textarea {
    background-color: white;
    border: 1px solid #bab293;
}

.registration_box input {
    width: 220px; height: 20px; line-height: 20px;
    padding: 0 5px;
    margin-right: 10px;
}

.form .checkbox input {
    background: none;
    border: 0;
}

.form textarea {
    width: 550px; height: 56px;
    padding: 5px;
}

.detailed_search_page input {
    background: url(images/input.png) no-repeat;
    border: 0;
    margin: 0;
    width: 338px;  height: 22px;  line-height: 22px;
}

.static_page .form .submit input {
    float: right;
    padding: 0;
    width: 104px;  height: 29px;
}

.static_page .form .textarea {height: 155px;}



.static_page .form .check img {
    margin-top: 7px;
    width: 110px;
}
/*----------COMMENT NOW END----------*/


/*----------REGISTRATION PAGE START----------*/
.error {
    background-color: #ff0000;
    color: white !important;
    float: none !important;
    font-weight: bold;
    margin: 0 !important;
    padding: 10px;
    text-transform: uppercase;
    width: auto !important;
}

.registration_page {
    margin-bottom: 0;
    background: #fff;
}


.registration_page h3 {
    color: #ba642d;
    margin-bottom: 16px;
    font-size: 14px;

}

.registration_page .form {padding: 0;}

.registration_page .item, .registration_page .even {
    padding: 10px 15px 0 15px;
    height: auto;
}

.registration_page .divide {margin-top: 0;}

.registration_page .even, .product_list_page .even, .kapcsolodo_termek .item {
    background-color: #e9deb8;
    margin: 0 1px;
}

.registration_page p {
    color: #393939;
    float: left;
    width: 160px;
    margin-right: 10px;
}

.registration_page input, .registration_page select {margin-right: 10px;}

.registration_page .checkbox label  {width: 85px;}

.registration_page .checkbox input {width: auto;}

.registration_page label, .registration_box label {
    color: #393939;
    font-size: 12px;  font-weight: normal;
    text-align: left;
}

.registration_page span {
    font-size: 10px;
    color: #ea1d2c;
    line-height: 20px;
}

.registration_page select {
    width: 345px;
    border: 1px solid #bab293;
}

.registration_page .submit {padding-top: 10px;}

.registration_page .submit input {
    display: block;
    margin: 0 auto;
    float: none;
}

.registrationPageBottom, .cart_page .bottom, .detailed_search_page .bottom {
    background: url(images/registrationBottom.png) no-repeat;
    margin-bottom: 15px;
    width: 708px;  height: 13px;
}

/* NEW REGISTRATION PAGE STYLES */

.registration_page {
    border: solid 1px #bab293;
    margin-bottom: 41px;
    padding-bottom: 41px;
}

.registration_page .form {
    padding-left: 80px;
    padding-right: 80px;
}

.registration_page .form .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.registration_page .form .item input[type="text"],
.registration_page select,
.registration_page .form .item input[type="password"]{
    border: solid 1px #bab293;
    padding: 15px 10px;
}

.registration_page .form .item input[type="text"],
.registration_page .form .item input[type="password"]{
    width: calc(100% - 20px);
}

.registration_page select {
    width: 100%;
    background: #fff;
}

.registration_page .form .item h3 {
    width: 100%;
    padding-left: 30px;
}

.registration_page .form .item div {
    width: calc(50% - 60px);
    padding: 0 30px;
    margin-bottom: 20px;
    position: relative;
}

.registration_page .form .item div .errormessage{
    position: absolute;
    right: 40px;
    top: -24px;
    background: red;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    min-width: 180px;
    text-align: center;
}

.registration_page .form .item div .errormessage::after {
    width: 10px;
    height: 10px;
    background: red;
    content: '';
    position: absolute;
    bottom: -5px;
    right: 15px;
    transform: rotate(45deg);
}

.registration_page .form .item div i {
    position: absolute;
    right: 46px;
    top: 10px;
    color: red;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 17px;
}

.registration_page .form .submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding-right: 15px;
}

.registration_page .form input[type="submit"] {
    background: #cacbc7;
    color: #fff;
    padding: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    height: 40px;
    margin: 0;
    font-family: Arial;
}

.registration_page .form input[type="submit"]:hover {
    background: #505050;
}

.registration_page .top {
    margin-bottom: 30px;
}

.registration_page .star_text {
    padding-left: 45px;
}

.registration_page .star_text p {
    white-space: nowrap;
    font-size: 13px;
    color: #c06d32;
}

.registrationPageBottom {
    display: none;
}

























    /*----------REGISTRATION PAGE END----------*/


/*----------PRODUCT LIST PAGE START----------*/

.product_list_page {
    border: solid 1px #bab293;
    background: #fff;
    margin-bottom: 40px;
}

.product_list_page .container {
    padding: 15px 10px 0 10px;
}

.product_items_container {
    display: flex;
    flex-wrap: wrap;
}

.product_item .product,
.product_item .price,
.product_item .manufacturer,
.product_item .image {
    margin-bottom: 10px;
}

.product_item .image {
    width: 420px;
    height: 280px;
}

.product_item .image a {
    width: 100%;
    height: 100%;
}

.product_item .image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product_list_page .product_item {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #bab293;;
}

.product_item .product a,
.product-item .price {
    color: #c06d32;
    font-weight: bold;
    line-height: 1.79;
    margin-bottom: 10px;
    text-decoration: none;
}

.product_item .product a {
    font-size: 14px;
}

.product-item .price {
    font-size: 16px;
}

.product_item .manufacturer {
    display: flex;
    align-items: center;
}

.product_item .manufacturer p {
    font-weight: bold;
    margin-right: 3px;
}

.product_item .manufacturer a {
    font-size: 13px;
    color: #5a3512;
    text-decoration: none;
}

.product_item_buttons {
    display: flex;
}

.product_item_buttons input,
.product_item_buttons a {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 14px;
    padding: 14px 0;
    min-width: 130px;
    display: flex;
    justify-content: center;
}

.product_item_buttons .details {
    color: #c06d32;
    border: 1px solid #c06d32;
    margin-right: 10px;
    background: #fff;
    text-decoration: none;
}

.product_item_buttons .details:hover {
    background: #c06d32;
    color: #fff;
    cursor: pointer;
}

.product_item .submit {
    background: #383838;
    border: 1px solid #383838;
    color: #fff;
}

.product_item .submit:hover {
    background: #505050;
}

.product_list_page .bottom {
    display: none;
}


/*.product_list_page .product, .product_list_page .manufacturer, .product_list_page .price, .product_list_page .buy {
  float: left;
  color: #393939;
}

.product_list_page p.product, .product_list_page p.manufacturer, .product_list_page p.price, .product_list_page p.buy {padding-bottom: 10px;}

.product_list_page td.product, .product_list_page td.manufacturer, .product_list_page td.price, .product_list_page td.buy {
  float: none;
  text-align: left;
}

.product_list_page p.product {padding-left: 140px;}

.product_list_page .product, .product_list_page .manufacturer {padding: 0 10px;}

.product_list_page .product {width: 180px;}
.product_list_page .manufacturer {width: 140px;}
.product_list_page .price {width: 95px;}
.product_list_page .buy {width: 95px;}
.product_list_page td.buy {width: 110px;}

.product_list_page td.product a, .product_list_page .manufacturer a {
  color: #ba642d;
  font-size: 14px;
  text-decoration: none;
}
.product_list_page td.product a:hover, .product_list_page .manufacturer a:hover {text-decoration: underline;}

.product_list_page .buy input, .product_list_page .buy input:hover {
  background: url(images/orange_link.png) no-repeat;
  width: 84px;
}

.product_list_page table {
  border-spacing: 0;  border-collapse: collapse;
  margin: 0 1px;
}

.product_list_page table img {margin: 0;}

.product_list_page table .image {width: 125px;}

.product_list_page td {
  border-bottom: 1px solid #d6b091;
  padding: 10px 0;
  font-size: 13px;  font-weight: bold;
  color: #b05926 !important;
  vertical-align: middle;
}

.product_list_page td input:hover, .product_view_page .price_container .submit input:hover {background: url(images/green_link_hover.png) no-repeat;}

.product_list_page .image {padding-left: 5px; margin-left: 1px;}*/
/*----------PRODUCT LIST PAGE END----------*/


/*----------PRODUCT VIEW PAGE START----------*/
.product_view_page {
    margin-bottom: 40px;
    background: #fff;
    border: solid 1px #bab293;
}

.product_view_page .product {
    display: flex;
}

.product_info_left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.product_info_left .first {
    width: 100%;
    height: 325px;
}

.product_info_left .first img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_view_page .text_container {
    width: 50%;
}

.product_view_page .productName {
    color: #b9632d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.product_view_page .manufacturer,
.product_view_page .manufacturer a{
    font-size: 13px;
    font-weight: bold;
    color: #5a3512;
    margin-bottom: 15px;
    text-decoration: none;
}

.product_view_page .container {padding: 10px 0 0 0;}

.product_view_page .product {padding: 0 15px;}

.product_view_page .product img.first {margin-right: 10px;}

.product_view_page .product .text_container {
    width: 430px;
    padding-top: 10px;
    padding-left: 30px;
}

.product_view_page .price_container {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.text_container .price_container input,
.text_container input{
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 5px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    border: 1px solid #383838;
}

.text_container .price_container input {
    background: #fff;
    color: #383838;
}

.text_container input {
    background: #383838;
    color: #fff;
    margin-bottom: 60px;
}

.text_container input:hover {
    background: #505050;
    color: #fff;
    cursor: pointer;
}

.text_container .price_container input:hover {
    background: #383838;
    color: #fff;
}

.product_view_page .price_container div {
    display: flex;
    flex-direction: column;
}

.product_view_page .big_price {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    color: #5a3512;
    margin-bottom: 10px;
}

.product_view_page .raktar {
    width: 96px;  height: 37px; line-height: 37px;
    margin-right: 15px;
    text-align: center;
    background: url(images/raktar.gif) no-repeat;
}

.product_view_page .bottom a {
    color: #e9deb8;
    font-weight: normal;
}




.opinions h2, .write_your_opinion h2 {
    color: #ba642d;
    font-size: 14px;  font-weight: normal;
    margin-bottom: 10px;
    padding-left: 15px;
}

.opinions h2 {padding-top: 10px;}

.opinions .item {padding: 15px;}

.opinions .top {
    background: none;
    margin-bottom: 10px;
}

.opinions p {
    font-size: 12px;
    margin-bottom: 10px;
}

.opinions .name, .opinions .date {margin: 0;}

.opinions .name {
    float: left;
    font-size: 16px;  font-weight: bold;
    width: 550px;
}

.opinions .date {float: right;}

.opinions .rating {height: 40px;}

.opinions .rating p, .opinions .rating span {float: left;}

.opinions .rating p {
    color: #b15a27;
    font-size: 14px;  font-weight: bold;
    margin-right: 5px;  margin-bottom: 0;
    line-height: 29px;
}

.opinions .rating span {
    display: block;
    margin: 3px 2px 0 0;
    width: 23px;  height: 23px;
    background: url(images/rating.png) no-repeat;
}

.opinions .rating .active {background: url(images/rating_active.png) no-repeat;}

.opinions .rating i {
    color: #5a3512;
    font-weight: normal;
    padding-left: 10px;
}

.write_your_opinion {
    padding: 0 95px;
}

.write_your_opinion h2 {
    text-align: center;
    color: #ba642d;
    font-size: 20px;
    margin-bottom: 27px;
}


.write_your_opinion form{
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
}

.opinion_col {
    width: 50%;
    padding: 0 15px;
}

.write_your_opinion .rating {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.write_your_opinion .rating span {
    font-size: 13px;
    color: #5a3512;
    margin-right: 25px;
}

.write_your_opinion .rating label {
    font-size: 13px;
    color: #5a3512;
    font-weight: bold;
    padding: 0;
}

.please_check {
    margin-bottom: 22px;
    font-size: 13px;
    color: #5a3512;
    font-weight: bold;
}


.write_your_opinion .check .flex {
    margin-bottom: 25px;
}

.write_your_opinion label {
    font-size: 12px;  font-weight: normal;
    color: #393939;
    padding-left: 15px;
    text-align: left;
    width: 80px;
}

.write_your_opinion .submit {
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 5px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #383838;
    background: #383838;
    color: #fff;
    line-height: normal;
    height: 40px;
    width: 100%;
}

.write_your_opinion .submit:hover {
    background: #505050;
}

.write_your_opinion input[type="text"],
.write_your_opinion textarea {
    border: solid 1px #bab293;
    width: 100%;
    padding-left: 10px;
}

.write_your_opinion input[type="text"] {
    height: 40px;
    margin-bottom: 10px;
}

.write_your_opinion textarea {
    height: 200px;
    padding-top: 15px;
}

.write_your_opinion .accept {
    margin-bottom: 15px !important;
}

.write_your_opinion .accept input {
    width: 20px;
    height: 20px;
    border: solid 1px #bab293;
    margin-right: 10px;
}

.write_your_opinion .accept p {
    font-size: 13px;
    color: #5a3512;
}


.write_your_opinion .rating {width: 400px;}

.write_your_opinion .rating, .write_your_opinion .rating span {float: left;}

.write_your_opinion .rating .first {color: #393939;}

.write_your_opinion .rating input {
    background: none;
    margin-right: 10px;
    width: auto;
}

.write_your_opinion p {
    color: #393939;
    line-height: 20px;
}

.write_your_opinion .submit {padding-right: 15px;}

.write_your_opinion .check {

}



.write_your_opinion .check img {margin-right: 10px;}




.kapcsolodo_termek.new_stuff_box {
    padding-bottom: 10px;
    margin-bottom: 40px !important;
}

.kapcsolodo_termek .details_link {
    margin-right: 10px;
}

.kapcsolodo_termek .product_image {
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.kapcsolodo_termek .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kapcsolodo_termek .item {padding: 10px 15px;}

.kapcsolodo_termek .text_container h2 {
    color: #5a3512;
    font-size: 13px;
    padding: 0;
}

.kapcsolodo_termek .text_container p {margin-bottom: 10px;}

.kapcsolodo_termek .big_price {
    float: left;
    background: url(images/big_price_repeat_dark.gif) repeat-x;
}

/*----------PRODUCT VIEW PAGE END----------*/


/*----------CART PAGE START----------*/
.cart_page {
    font-family: Arial;
    border: solid 1px #bab293;
    margin-bottom: 41px;
    padding-bottom: 41px;
    background: #fff;
}

.cart_page .container {padding: 0;}

.cart_page .links {
    padding: 40px 0 10px 0;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
}

.cart_page .links a {
    display: block;
    line-height: 31px;
    padding-right: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #5a3512;
    text-decoration: none;
    text-align: center;
}


.cart_page .links .active .cart_status_icon {
    background: #5a3512;
}

.cart_page #link1 {background-position: 0 0;}
.cart_page .active#link1 {background-position: 0 -122px;}

.cart_page #link2 {background-position: -136px 0;}
.cart_page .active#link2 {background-position: -136px -122px;}

.cart_page #link3 {background-position: -272px 0;}
.cart_page .active#link3 {background-position: -272px -122px;}

.cart_page #link4 {
    background-position: -408px 0;
    width: 91px;
}
.cart_page .active#link4 {background-position: -408px -122px;}

.cart_page #link5 {
    background-position: -539px 0;
    width: 100px;
    padding-right: 0;
}
.cart_page .active#link5 {background-position: -539px -122px;}

.cart_page p {
    padding-left: /*30*/27px;
    font-size: 20px;
    font-weight: bold;
    color: #ba642d;
    margin-bottom: 40px;
    text-align: center;
}

.cart_status_icon {
    width: 100px;
    height: 100px;
    border: solid 2px #5a3512;
    margin-bottom: 22px;
}

.cart_page .item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.cart_page .reg_or_login_text {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.54;
    color: #c06d32;
    margin-bottom: 25px;
}

.cart_page .submit.reg_or_login_buttons {
    padding-top: 0;
}

.cart_page div.submit.reg_or_login_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 30px auto;
}

.cart_page .reg_or_login_buttons .pay {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.cart_page .reg_or_login_buttons .pay:first-child {
    margin-bottom: 10px;
    color: #fff;
    background: #383838;
    border: 1px solid #383838;
}

.cart_page .reg_or_login_buttons .pay:first-child:hover {
    background: #505050;
}

.cart_page .reg_or_login_buttons .pay:last-child {
    color: #c06d32;
    border: 1px solid #c06d32;
    background: #fff;
}

.cart_page .reg_or_login_buttons .pay:last-child:hover {
    background: #c06d32;
    color: #fff;
}

.cart_page .cart_buttons,
.cart_page .reg_or_login_buttons
{
    padding-right: 20px;
}

.cart_page .cart_buttons .pay,
.cart_page .cart_buttons a {
    color: #c06d32;
    border: 1px solid #c06d32;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    background: #fff;
}

.cart_page .cart_buttons .pay:hover,
.cart_page .cart_buttons a:hover {
    background: #c06d32;
    color: #fff;
}


.cart_page .cart_buttons a {
    margin-right: 10px;
}

.cart_page .cart_buttons .recount {
    color: #fff;
    background: #383838;
    border: 1px solid #383838;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin-left: 10px;
}

.cart_page .cart_buttons .recount:hover {
    background: #505050;
}


.cart_page .even td {background-color: #e9deb8;}

.cart_page .products th {padding-top: 5px;}

.cart_page .bg {
    margin: 0 1px;
    padding: 15px 10px;
    width: 100%;
}

.cart_page .bg table {
    width: 100%;
}

.cart_page .orders, .cart_page .products {margin: 0 1px;}

.cart_page .orders th {padding: 5px 5px 5px 15px;}

.cart_page .orders td {
    background-image: none;
    font-size: 12px;  font-weight: bold;
}

.cart_page .orders a, #previous_orders_submit a, .detailed_search_page input.submit {
    width: 97px;
    float: right;
    font-weight: normal;
    background: url(images/rendeles_link.png) no-repeat;
}

.cart_page .form {background: none;}

.cart_page .form input {
    border: 0;
    margin-right: 5px;
    width: 348px !important;
}

#previous_orders_submit a {float: left;}

.cart_page .orders a:hover, #previous_orders_submit a:hover, .detailed_search_page input.submit:hover {background: url(images/rendeles_link_hover.png) no-repeat;}

.cart_page p.title {
    padding-top: 10px;
    color: #4d2d0e;
    font-size: 14px;  font-weight: bold;
}

.cart_page .float_left {padding-left: 15px;}
.cart_page .float_right {padding-right: 15px;}
.cart_page .float_right b {color: #4d660e;}
.cart_page .float_left, .cart_page .float_right {
    color: #4d2d0e;
    font-size: 14px;
}

.cart_page table {border-spacing: 0;  border-collapse: collapse;}

.cart_page table th {
    font-size: 14px;
    color: #702a00;
    text-align: left;
    padding-bottom: 5px;  padding-left: 15px;
}

.cart_page table td {
    padding: 10px 10px 10px 15px;
    font-size: 14px;
    line-height: 18px;
}

.cart_page .products td, .cart_page .products th {background: url(images/news_list_divide.gif) no-repeat left bottom;}

.cart_page table .prod_name {
    width: 290px;
    padding-left: 15px;
}

.cart_page table td.prod_name {
    padding: 0 15px;
    width: 275px;
    color: #5a3512;
    font-weight: bold;
}

.cart_page table .price {width: 135px;}
.cart_page table .quantity {width: 145px;}
.cart_page table .overall {width: 90px;}

.cart_page table td.prod_name,
.cart_page table .price,
.cart_page table .quantity,
.cart_page table .overall,
.vegosszeg b {
    font-size: 13px;
    font-weight: bold;
    color: #5a3512;
}



/*.cart_page table input {
    width: 46px;  height: 27px;
    border: 1px solid #5a3512;
    margin-right: 30px;
}*/

.cart_page .quantity .submit {
    width: 12px;  height: 18px;
    background: url(images/dustbin.gif) no-repeat;
    border: 0;
    margin: 0;
}

.cart_page .vegosszeg {
    padding-right: 15px;
    text-align: right;
    color: #702a00;
}

.cart_page .total_price {
    text-align: center;
}

.cart_page .total_price b {
    font-size: 20px;
    font-weight: bold;
    color: #5a3512;
}

.cart_page div.submit {
    padding: 15px 20px 0 25px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
}



.cart_page div.submit a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.cart_page div.submit .continue_shopping_btn {
    color: #c06d32;
    border: 1px solid #c06d32;
    margin-right: 10px;
}

.cart_page div.submit .continue_shopping_btn:hover {
    background: #c06d32;
    color: #fff;
}

.cart_page div.submit .cart_next_btn {
    background: #383838;
    color: #fff;
    border: 1px solid #383838;
}

.cart_page div.submit .cart_next_btn:hover {
    background: #505050;
    border-color: #505050;
}



.cart_page div.submit input {
    float: right !important;
}

.cart_page select {
    width: 200px;
    margin-right: 110px;
    padding: 15px 0;
    border-color: #bab293;
    background-color: transparent;
    margin: 0;
}

.cart_page .checkbox label, .cart_page .checkbox input {float: left;}

.cart_page .checkbox label {line-height: 20px;}

.cart_page .checkbox input {
    line-height: normal;
    height: auto;
    margin: 4px 0 0 0;
}

.cart_page .textarea textarea {
    width: 500px; height: 105px;
    border: 1px solid #6d4018;
}

.cart_page .payment_information p {
    margin-bottom: 0;
    font-weight: normal;
}

.cart_page .select_payment {
    display: flex;
    justify-content: center;
}

.cart_page .select_payment p {
    text-align: left;
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #ba642d;
    margin-bottom: 16px;
}

.cart_page .select_payment select {
    width: 330px;
}

.cart_page .select_payment option {
    padding: 15px 0;
}
/*----------CART PAGE END----------*/


/*----------DETAILED SEARCH PAGE START----------*/
.detailed_search_page .float_left {
    width: 300px;
    margin-bottom: 15px;
}

.detailed_search_page label {
    line-height: 21px;
    color: #b25b28;
    font-size: 14px;  font-weight: bold;
    display: block;
}

.detailed_search_page input, .detailed_search_page select {border: 1px solid #6d4018;}

.detailed_search_page input {
    /*
    width: 290px; height: 21px; line-height: 21px;
    display: block;
    */
    border: 0;
    padding: 0 5px;
}

.detailed_search_page hr.first {
    text-align: left;
    width: 560px;
}

.detailed_search_page select {width: 205px; height: 170px;}


.detailed_search_page .submit input, .detailed_search_page .submit label, .detailed_search_page .submit span {float: left;}

.detailed_search_page .submit input {
    background: url(images/inputSmall.png) no-repeat;
    cursor: text;
    margin-right: 5px;
    width: 165px;
}

.detailed_search_page .submit span {
    line-height: 22px;
    margin-right: 15px;
}

.detailed_search_page input.submit, .detailed_search_page input.submit:hover {
    background: url(images/submit.png) no-repeat;
    border: 0;
    color: white;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 0;
    width: 104px;  height: 29px;  line-height: 29px;
}

.detailed_search_page .searched_text {
    font-size: 14px;
    margin-bottom: 10px;
}
.detailed_search_page .searched_text b {color: #3a5100;}
.detailed_search_page .searched_text i {color: #51300f;}

.detailed_search_page .item {
    background: url(images/news_list_divide.gif) no-repeat left top;
    margin-bottom: 15px;
    padding-top: 15px;
}

.detailed_search_page .item h2, .detailed_search_page .item h2 a {
    font-size: 12px;
    color: #3a5100;
}

.detailed_search_page .item h2 a {text-decoration: none;}
.detailed_search_page .item h2 a:hover {text-decoration: underline;}

.detailed_search_page .item p {width: 560px;}

.detailed_search_page .repeat {
    padding-right: 15px;
    position: relative;
}

.detailed_search_page .search_icon {
    position: absolute;
    width: 117px;  height: 92px;
    left: 580px; top: 10px;
    background: url(images/search_icon.gif) no-repeat;
}
/*----------DETAILED SEARCH PAGE END----------*/


.registration_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_box input {
    padding: 13px 10px;
    width: 310px;
    border: 1px solid #BAB293 !important;
}

.registration_box input:first-child {
    margin-bottom: 10px;
}

.registration_box input, .registration_box label {float: left;}


.static_page .check {
    height: 60px;
    padding-top: 10px;
}

.static_page .check label, .static_page .check input {float: left;}


.static_page .check input {
    border: 1px solid #BAB293;
    margin-top: 15px;
}

.static_page .check img {margin-right: 10px;}


#user_data_page table a {
    background: url(images/orangeArrow.png) no-repeat left 1px;
    color: #a54100;
    font-size: 16px;
    padding-left: 30px;
}


#previous_orders_page td {
    color: #393939;
    font-size: 14px;
}

#previous_orders_page .previous_orders_check {
    background: url(images/submit.png) no-repeat;
    color: white;
    display: block;
    margin: 5px 0;
    text-align: center;  text-decoration: none;
    width: 104px;  height: 29px;  line-height: 29px;
}

#previous_orders_page table, #previous_orders_page table td {
    border: 0 !important;  border-spacing: 0 !important;  border-collapse: collapse;
    padding: 0;
}

#previous_orders_page table td {padding: 0;}

#previous_orders_page table.item {background: url(images/news_list_divide.gif) repeat-x left bottom;}

#previous_orders_page b.title {color: #6e4118;}

.previousOrdersViewPage td {color: #4d2d0e !important;}

.previousOrdersViewPage b {
    color: #b15926 !important;
    font-size: 14px;
}


.fizetes_radio_button {
    border: 0 !important;
    height: auto !important;
    margin: 0 !important;
}

.cart_page .fck p {
    color: #5A3512;
    font-size: 13px;
    padding: 0;
}


.jquery_gallery_container {
    margin-bottom: 30px;
    padding-top: 15px;
    width: 100%;
    height: auto;
}

.jcarousel-container {
    width: 100%;
    height: 75px;
}

.jcarousel-prev, .jcarousel-next {
    width: 30px;
    height: 131px;
    cursor: pointer;
}

.jcarousel-prev {
    left: 0;  top: 50%;
    position: absolute;
    color: #000;
    height: 100%;
}

.jcarousel-prev:before {
    font-family: FontAwesome;
    content: '\f053';
    color: #737373;
    font-size: 1.5em;
}

.jcarousel-next {
    right: 0;  top: 50%;
    position: absolute;
    height: 100%;
}

.jcarousel-next:before {
    font-family: FontAwesome;
    content: '\f054';
    color: #737373;
    font-size: 1.5em;
    position: absolute;
    right: 0;
}

.jcarousel-list {width: 500000px !important;}

.jcarousel-list li, .jcarousel-item {
    padding-right: 10px;  padding-left: 0 !important;
    border:none;
    list-style:none;
    width: 75px;
    height: 75px;
}

.jcarousel-item a {
    width: 100%;
    height: 100%;
}

.jcarousel-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jcarousel-clip {
    margin-left: 35px !important;
    padding-top: 10px !important;
    width: 425px;
    height: auto;
}*/

.nameContainer {
    background: url(images/nameContainer.png) no-repeat;
    color: #1d0a00;
    font-size: 14px;  font-weight: bold;
    margin: 0 auto 5px auto;
    overflow: hidden;
    width: 200px;  height: 38px !important;  line-height: 38px;
}

.orangeLink, .greyLink {
    color: white !important;
    display: block;
    float: none !important;
    font-weight: bold;
    margin: 0 auto 5px auto !important;
    text-align: center;  text-decoration: none;
    width: 97px;  height: 21px;  line-height: 21px;
}

.orangeLink {background: url(images/orangeLink.png) no-repeat;}

.greyLink {background: url(images/greyLink.png) no-repeat;}


.masonry {margin-bottom: 10px;}
.masonry .item {
    float: left;
    margin: 8px;
    width: 200px;
}
.masonry img {
    border: 3px solid white;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}



/*----------FCK START----------*/
.fck {
    color: #393939;
    line-height: 18px;
    overflow: hidden;
}

.fck h2, .fck h3 {line-height: 20px;}

.fck h2, .fck h3, .fck h4, .fck h5 {
    color: #393939;
    font-size: 14px;
}

.fck h2 {
    color: #ba642d;
    font-weight: bold;
    margin: 12px 0 6px 0;
}
.fck h3 {margin: 10px 0 4px 0;}
.fck h4 {
    font-weight: normal;
    line-height: 18px;
    margin: 8px 0 4px 0;
}
.fck h5 {
    font-size: 12px;
    line-height: 18px;
    margin: 6px 0 4px 0;
}

.fck ul li, .fck ol li {line-height: 18px;}

.fck ol {padding-left: 20px;}
.fck ol li {list-style: decimal;}

.fck table {
    border-spacing: 0;  border-collapse: collapse;
    margin: 5px 0;
    margin-bottom: 38px;
}

.fck table td, .fck table th {
    color: #393939;
    padding: 5px;
    text-align: center;
    width: 140px;
}

.fck table td {
    border-color: #bab293 !important;
    font-size: 13px;
}

.fck table tr:first-child td {
    color: #5a3512;
    font-weight: bold;
}

.fck table th {
    background-color: #ba642d;
    color: white;
    font-size: 13px;  font-family: Tahoma;  font-weight: normal;
}

.fck a {
    color: #ba642d;
    font-size: 12px;  font-weight: bold;
}

.fck img {
    border: 1px #cacaca solid;
    padding: 5px;
}
/*----------FCK END----------*/

/*----------CONTACT PAGE----------*/

.contact_page .contact_abachi_logo {
    height: 144px;
    width: 220px;
    background-color: #ffe9ac;
    border: solid 1px #8c3500;
    margin-bottom: 20px;
}

.contact_page .divide {
    margin-bottom: 27px;
}

.contact_page_text {
    display: flex;
}

.contact_page_text .google_map {
    width: 50%;
    width: 450px;
    height: 325px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.contact_page_text .fck {
    width: 50%;
}

.contact_page .form {
    display: flex;
    flex-wrap: wrap;
}

.contact_page .form {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.contact_page .form h2,
.contact_page .form p {
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contact_page .form p {
    color: #b9632d;
}

.contact_page .form .text_inputs,
.contact_page .form .textarea {
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    min-height: 170px;
}

.contact_page .form .check {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
    padding-left: 15px;
    padding-right: 15px;
}

.contact_page .form .check input {
    padding: 15px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: calc(100% - 20px);
}

.contact_page .form .check img {
    height: 100%;
}

.contact_page .form .check label {
    font-size: 13px;
    font-weight: bold;
    color: #5a3512;
    margin: 25px 0;
}

.contact_page .form div input[type="text"],
.contact_page .form div textarea {
    padding: 15px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: calc(100% - 20px);
}

.contact_page .form div textarea {
    height: 100%;
}

.contact_page .form div input[type="text"] {
    margin-bottom: 10px;
}

.contact_page .repeat {
    min-height: 800px;
}

.contact_page .form .submit {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(50% - 30px);
}

.contact_page .form .accept {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.contact_page .form .accept input {
    width: 20px;
    height: 20px;
    border: solid 1px #bab293;
    margin-right: 10px;
}

.contact_page .form .accept p {
    font-size: 13px;
    color: #5a3512;
}

.contact_page .form .submit input[type="submit"] {
    width: 100%;
    background-color: #383838;
    color: #fff;
    border: 1px solid #383838;
    height: 40px;
}

.contact_page .form .submit input[type="submit"]:hover {
    background: #505050;
    border-color: #505050;
}

